body{
	font-family: 'Ubuntu', serif;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
	
	-moz-background-size:  cover;
	-o-background-size: cover;
}

.col-title{
	/* position: relative; */
}

.h4{
	background-color: rgba(0, 0, 0, 0.15);
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.h1{
	font-family: 'Montserrat', sans-serif;
}

.block-news{
	border: 1px solid grey;
	border-radius: 0px 3px 3px 3px;
	margin-left: 5px;
	background-color: rgba(0, 0, 0, 0.05);
}

.block-news .news-text{
	font-size: 19px;
	font-weight: 300;
}

.footer{
	font-size: 14px;
}

.server-info-box{
	border: 1px solid black;
	border-radius: 3px;
}

.server-info-box .title{
	text-align: center;
	font-weight: 600;
	margin-top: 6px;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.15);
}

.server-info-box .description{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.05);
	min-height: 100px;
	padding-left: 5px;
	padding-right: 5px;
}

.date{
	display: block;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	width: 150px;
	border-radius: 3px 3px 0px 0px;
	background-color: rgba(0, 0, 0, 0.15);
}

.test{
	border: 1px solid red;
}
.test2{
	border: 1px solid blue;
}

.full{
	width: 100%;
	max-height: 85px;
	max-width: 85px;
}

.row.tab{
	min-height: 30px;
}

.folded{
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}

.minimized{
	display:none;
}

@media (max-width: 768px) {
	#login-box{
		/* position: relative; */
	}
}

@media (min-width: 768px) {
	#login-box{
		float: left;
	}
	
	.login-container{
		margin-left: -15px;
	}
	
}

.btn{
	font-size: 10px;
}

@media (max-width: 768px){
	.btn{
		font-size: 18px;
	}	
}

@media (min-width: 992px){
	.btn{
		font-size: 8px;
	}	
}

/* @media (min-width: 1100px){ */
	/* .btn{ */
		/* font-size: 14px; */
	/* }	 */
/* } */

@media (min-width: 1350px){
	.btn{
		font-size: 12px;
	}	
}



@media (min-width: 1450px){
	.btn{
		font-size: 14px;
	}	
}

a{
	text-decoration: none;
}

.modal-content{
	background-color: rgba(255, 239, 218, 1);
}

.modal-header{
	border: 0;
}
.modal-footer{
	border: 0;
}

.modal-body{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

i a{
	text-decoration: none;
	color: green;
}

#loginError{
	color: red;
}

#welcomeMsg, #btn-logout, #loggedin-content, #account-minimized, #account-maximized, #newaccount-maximized{
	display: none;
}
.accountList li a{
	font-size: 20px;
	font-weight: 700;
	background-color: red;
}

.p-premium{
	font-size: 20px;
	font-weight: 700;
}
.p-premium span{
	color: green;
	font-size: 24px;
	font-weight: 700;
}

.premium-right input{
	/* font-size: 25px; */
}

.premium .server-info-box .row .server-info-box{
	border: 0px;
}

.premium .row ul li a{
	color: black;
	background-color: yellow;
	padding: 1px;
	font-weight: 600;
}

.table-char .order{
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	text-align: center;
	vertical-align: middle;
}
.table-char .level{
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	text-align:center;
	vertical-align: middle;
}

.table-char .name{
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	vertical-align: middle;
	text-align: center;
}
.table-char .vocation{
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	vertical-align: middle;
	text-align: center;
}

.table-char .gender{
	/* border-right: 1px solid grey; */
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	text-align: center;
	vertical-align: middle;
}

.table-char .delete{
	/* border-right: 1px solid grey; */
	border: 1px solid grey;
	/* border-right: 1px solid grey; */
	text-align: center;
	vertical-align: middle;
	color: red;
}

.table-char .delete a:link, .table-char .delete a:visited{
	color: red;
	font-weight: 600;
}

.social{
	background-color: rgba(255, 239, 218, 0.9);
	border: 1px solid black;
	border-radius: 3px;
	position: absolute;
	/* margin-left: 5px; */
}




.icon-folded{
	background: url("../img/maximize.png");
	background-size: 100% 100%;
	margin-top: 4px;
	/* margin-bottom: auto; */
	/* top: 50%; */
	/* bottom: 50%; */
	/* margin-top: 2px; */
}

.icon:hover{
	cursor: pointer;
}

.col{
	/* min-height: 42px; */
}

.col-aside{
	border: 1px solid green;
	min-height: 250px;
}

.col-mid{
	border: 1px solid green;
	background-color: rgba(255, 239, 218, 0.9);
}

.col-mid.col-main{
	min-height: 508px;
}

.row-mid{
	min-height: 870px;
}


@media (min-width: 768px){
	.container-middle{
		
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 0;
	}	
	
	.container-left{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 0;
	}	
	
	.container-right{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 0;
	}	
}

@media (max-width: 768px){
	.container-middle{
		/* position: relative; */
	}	
}

.col-box{
	border: 1px solid red;
	min-height: 225px;
}


.test3{
	border: 1px solid black;
}
.test4{
	border: 1px solid white;
}

.col-account, .col-livechat, .col-main, .col-info, .col-box, .col-newaccount{
	border: 1px solid #8F441F;
	border-radius: 3px;
	background-color: rgba(255, 217, 173, 0.9);
}

.col-livechat .tab-content {
	min-height: 250px;
	/* border: 1px solid green; */
	border-radius: 0px 5px 5px 5px;
	
}

.col-main{
	min-height: 625px;
}

.td-chat {
	height: 20px;
	/* border: 1px solid blue; */
	font-size: 12px;
	text-align: center;
	font-weight: 700;
	vertical-align: middle;
}

.tr-chat-date{
	text-align: left;
}

.td-chat-text{
	font-size: 12px;
	font-weight: 500;
	text-align: left;
}	
.table-gamechat{
	/* border: 1px solid green; */
	
}

.mid{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg");
}

.icon-maximized{
	background: url("../img/minimize.png");
}

.icon-minimized{
	background: url("../img/maximize.png");
}

.icon{
	/* background: url("../img/minimize.png"); */
	position: absolute;
	height: 15px;
	width: 15px;
	margin-top: 3px;
	background-size: 100% 100%;
}
	
@media (max-width: 1200px){
	.icon, .icon-folded{
		height: 12px;
		width: 12px;
		margin-top: 5px;
		/* margin-left: 0px; */
		/* margin-right: 0px; */
		/* padding-right: 15px; */
	}
}

@media (max-width: 768px){
	.icon{
		height: 15px;
		width: 15px;
	}
}

li{
	/* border: 1px solid red;; */
}

a{
	/* display: block; */
	/* border: 1px solid red; */
	/* height: 100%; */
	/* margin: auto; */
	/* padding: 1px 5px 1px 5px; */
	/* font-weight: 600; */
}

.active{
	/* border: 2px red; */
}

ul.nav li, ul.nav li a{
	width: 94px;
	height: 19px;
	/* border: 1px solid red; */
	padding: 5px;
	margin: 5px;
	
}

ul.nav li a{
	display: block;
	border: 0px;
	padding: 5px;
	margin: 5px;
}

#chat-home, #chat-trade, #chat-quest{
	background: url("../img/chat/gamechat.png");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}

#chat-home{
	background: url("../img/chat/gamechat-active.png");
}

.bg-gamechat-inactive{
	/* background: url("../img/chat/gamechat.png"); */
	/* background-size: 100% 100%; */
	/* background-repeat: no-repeat; */
	/* border: 1px solid red; */
}

#chat-trade{
	background: url("../img/chat/trade.png");
}

#chat-quest{
	background: url("../img/chat/quests.png");
}



#gamechat-inner, #tradechat-inner, #questchat-inner{
	/* background: url("../img/chat/bg-57.png"); */
	color: #EFEF00;
	border: #484848;

}

.tab-livechat{
	background: url("../img/chat/bg-57.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

li{
	/* border: 1px solid red; */
}
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 576px) */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 768px) */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 992px) */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1200px) */